<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.9.8" xml:lang="en-US">
  <compounddef id="config" kind="page">
    <compoundname>config</compoundname>
    <title>Configuration files</title>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
<para>The main configuration file identified on the <computeroutput>exp</computeroutput> command line using the <computeroutput>-f</computeroutput> flag. The default parameter file, in absence of a <computeroutput>-f file</computeroutput> override, is named <computeroutput>PARAM.yml</computeroutput>.</para>
<para>The parameter file is divided into stanzas. Each stanza begins with a tag of the form <computeroutput>stanza_name</computeroutput>. Each stanza is followed by lines which contain Key and Value pairs demarcated in standard YAML syntax by a &apos;:&apos;. Each stanza is a YAML node and the order of nodes in the YAML sequence is not significant. I usually put the <computeroutput>Global</computeroutput> stanza first anyhow, but note that YAML emitters are not required to preserve order.</para>
<para><simplesect kind="par"><title><computeroutput>Global:</computeroutput></title><para><verbatim> This stanza defines basic features of the simulation such as
 name, time step and time step parameters, and working
 directory. Each Key defines a specific parameter value or boolean
 toggle.
</verbatim> </para>
</simplesect>
<simplesect kind="par"><title><computeroutput>Components:</computeroutput></title><para><verbatim> This stanza defines the phase-space components with associated
 parameters and force methods.

 Each Key is the mnemonic for a component and each Value is the
 name of file in the working directory which defines the
 component. The mnemonic may contain spaces.  The body file is in
 EXP native formation.  EXP has its own hierarchical phase space
 structure that we call PSP.  EXP provides a number of standalone
 routines to manipulate, visualize and summarize the content of
 PSP files.
</verbatim> </para>
</simplesect>
<simplesect kind="par"><title><computeroutput>Output:</computeroutput></title><para><verbatim> The list of output methods to be run after each step at the user
 specified frequency.

 Each Key defines the type of Output that the code will generate.
 The value is the space delimited list of parameters for the
 Output routine.  You can have as many instances of these as you
 like (there might be occasion reasons to have duplicates).  The
 Key is the class name in lower case.
</verbatim> </para>
</simplesect>
<simplesect kind="par"><title><computeroutput>External:</computeroutput></title><para><verbatim> All of the external forces and phase-space manipulations that
 occur in addition to the gravitational fields generated by the
 phase space itself.

 Each entry defines an ExternalForce routine.  Syntax is as for
 Output above: the Key is the name of the type and the value is
 the space delimited parameter list.  The Key is the class name in
 lower case.
</verbatim> </para>
</simplesect>
<simplesect kind="par"><title><computeroutput>Interaction:</computeroutput></title><para><verbatim> This stanza defines the couplings between all of the phase-space
 components.  These may be toggled to explore the influence of the
 various phase-space components on each other.

 Key and Value pairs here define the interactions between
 components.  Think: Key feels Value to get the sense of the
 interaction.  Unfortunately, this means a fully consistent
 simulation requires all pairs of components to be listed.
</verbatim> <heading level="3">List of global parameters </heading>
</para>
</simplesect>
</para>
<para>The <computeroutput>Components</computeroutput>, <computeroutput>External</computeroutput> and <computeroutput><ref refid="class_output" kindref="compound">Output</ref></computeroutput> stanzas (or nodes) are sequences that instruct the containers to build particular objects. Full parameter lists for the <computeroutput><ref refid="class_component" kindref="compound">Component</ref></computeroutput>, <computeroutput><ref refid="class_output" kindref="compound">Output</ref></computeroutput> and <computeroutput><ref refid="class_external_force" kindref="compound">ExternalForce</ref></computeroutput> classes are listed in the manpage for each class in the &lt;bf&gt;Classes&lt;/bf&gt; tab.</para>
<para>The allowed parameters in the <computeroutput>Global</computeroutput> stanza are:</para>
<para><table rows="28" cols="2"><row>
<entry thead="yes"><para>Key name   </para>
</entry><entry thead="yes"><para>Value    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>nbodmax</computeroutput>   </para>
</entry><entry thead="no"><para>is the maximum number of bodies per process    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>nsteps</computeroutput>   </para>
</entry><entry thead="no"><para>is the maximum number of steps to execute    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>nthrds</computeroutput>   </para>
</entry><entry thead="no"><para>is the number of threads per process (e.g. one per processor)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>nbalance</computeroutput>   </para>
</entry><entry thead="no"><para>is the number of steps between load balancing (use 0 for none)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>dbthresh</computeroutput>   </para>
</entry><entry thead="no"><para>is the load balancing threshold (larger difference initiates balancing)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>tnow</computeroutput>   </para>
</entry><entry thead="no"><para>is the current time    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>dtime</computeroutput>   </para>
</entry><entry thead="no"><para>is the timestep    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>PFbufsz</computeroutput>   </para>
</entry><entry thead="no"><para>is the particle ferry buffer size    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>NICE</computeroutput>   </para>
</entry><entry thead="no"><para>is the process priority    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>VERBOSE</computeroutput>   </para>
</entry><entry thead="no"><para>is the output logging level    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>multistep</computeroutput>   </para>
</entry><entry thead="no"><para>is the number of time step levels    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>maxlev</computeroutput>   </para>
</entry><entry thead="no"><para>is the maximum level for expansion interpolation (default: 100)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>ctrlev</computeroutput>   </para>
</entry><entry thead="no"><para>is the maximum level for center determination (default: 0)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>dynfracV</computeroutput>   </para>
</entry><entry thead="no"><para>is the time step velocity coefficient (default: 0.01)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>dynfracA</computeroutput>   </para>
</entry><entry thead="no"><para>is the time step accelration coefficient (default: 0.03)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>use_cwd</computeroutput>   </para>
</entry><entry thead="no"><para>uses the Node 0 home dir for the working dir on all nodes    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>posnsync</computeroutput>   </para>
</entry><entry thead="no"><para>synchronizes multistep positions at each substep (default: true)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>eqmotion</computeroutput>   </para>
</entry><entry thead="no"><para>toggles phase space advance (e.g. for use with externally supplied mapping). On by default.    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>global_cov</computeroutput>   </para>
</entry><entry thead="no"><para>resets total center of velocity to zero if true    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>restart</computeroutput>   </para>
</entry><entry thead="no"><para>global set on restart (to used by initializers and user modules)    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>homedir</computeroutput>   </para>
</entry><entry thead="no"><para>is the home directory for configuration files, etc.    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>ldlibdir</computeroutput>   </para>
</entry><entry thead="no"><para>is the directory containing loadable modules    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>infile</computeroutput>   </para>
</entry><entry thead="no"><para>is the input file for restart    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>parmfile</computeroutput>   </para>
</entry><entry thead="no"><para>is the parameter dump file    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>ratefile</computeroutput>   </para>
</entry><entry thead="no"><para>is the initial processor rate file    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>outdir</computeroutput>   </para>
</entry><entry thead="no"><para>is the directory for output    </para>
</entry></row>
<row>
<entry thead="no"><para><computeroutput>runtag</computeroutput>   </para>
</entry><entry thead="no"><para>is a suffix or prefix used for labeling report files   </para>
</entry></row>
</table>
</para>
<para><heading level="3">Example</heading>
</para>
<para>Here is a documented example of an EXP configuration file that explains some of the details. The <computeroutput>Global</computeroutput> node is the easiest: it is just a list of key, value pairs.</para>
<para>The <computeroutput>Components</computeroutput> node is a sequence. Each element in the sequence will be a new node and begins with a &apos;-&apos;. Each component has four internal nodes as described in the comments below. Similarly for the <computeroutput><ref refid="class_output" kindref="compound">Output</ref></computeroutput> and <computeroutput>External</computeroutput> nodes. Each new entry starts with &apos;-&apos; and has two nodes: an &apos;id: classtype&apos; where &apos;classtype&apos; is the name of the force or output and &apos;parameters: {}&apos; where &apos;{}&apos; contains the sequence of key, value pairs. The <computeroutput><ref refid="class_interaction" kindref="compound">Interaction</ref></computeroutput> node is a list of name1, name2 pairs that the describe the interaction between components by name.</para>
<para><programlisting><codeline><highlight class="preprocessor">#<sp/>YAML<sp/>1.2</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>See:<sp/>http:</highlight><highlight class="comment">//yaml.org<sp/>for<sp/>more<sp/>info.<sp/><sp/>EXP<sp/>uses<sp/>the</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>yaml-cpp<sp/>library<sp/>(http:</highlight><highlight class="comment">//github.com/jbeder/yaml-cpp)</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>for<sp/>parsing<sp/>and<sp/>emitting<sp/>YAML</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>These<sp/>parameters<sp/>control<sp/>the<sp/>simulation</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal">Global:</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>outdir<sp/><sp/><sp/><sp/><sp/>:<sp/>/home/weinberg/Nbody/DiskHaloExample</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>nbodmax<sp/><sp/><sp/><sp/>:<sp/>100000</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>nthrds<sp/><sp/><sp/><sp/><sp/>:<sp/>1</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><ref refid="global_8_h_1a5e6c31accfa71cb3fb5da8c8e9d10e87" kindref="member">dtime</ref><sp/><sp/><sp/><sp/><sp/><sp/>:<sp/>0.05</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><ref refid="global_8_h_1a296b91cdaa16f5796e15c07fd3a177cf" kindref="member">ldlibdir</ref><sp/><sp/><sp/>:<sp/>/home/weinberg/lib/user</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>runtag<sp/><sp/><sp/><sp/><sp/>:<sp/>run1</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><ref refid="global_8_h_1aa2414080b021dbb9b56eeaeedec0ffa2" kindref="member">nsteps</ref><sp/><sp/><sp/><sp/><sp/>:<sp/>5</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>multistep<sp/><sp/>:<sp/>10</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><ref refid="global_8_h_1a80ad6cb1cfc2b83a8d053d41f5f27d39" kindref="member">infile</ref><sp/><sp/><sp/><sp/><sp/>:<sp/>OUT.run1.chkpt</highlight></codeline>
<codeline><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>This<sp/>is<sp/>a<sp/>sequence<sp/>of<sp/>components.<sp/></highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>Each<sp/>component<sp/>file<sp/>should<sp/>contain<sp/>four<sp/>fields<sp/></highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>deliminated<sp/>by<sp/>&apos;:&apos;<sp/>characters.</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>The<sp/>first<sp/>is<sp/>the<sp/>Force<sp/>name.<sp/><sp/>The<sp/>parameters<sp/>for</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>the<sp/>force<sp/>are<sp/>included<sp/>as<sp/>a<sp/>parameter<sp/>map.</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>The<sp/>second<sp/>is<sp/>the<sp/>list<sp/>of<sp/>parameters<sp/>that<sp/>that<sp/>will<sp/></highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>be<sp/>passed<sp/>to<sp/>the<sp/>Component<sp/>on<sp/>creation.</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>The<sp/>third<sp/>is<sp/>the<sp/>name<sp/>of<sp/>the<sp/>bodies<sp/>file<sp/>(in<sp/>ascii).</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>The<sp/>fourth<sp/>is<sp/>the<sp/>force<sp/>name<sp/>or<sp/>id<sp/>and<sp/>list<sp/>of</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>parameters<sp/>that<sp/>will<sp/>be<sp/>passed<sp/>to<sp/>the<sp/>Force.</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>Each<sp/>indented<sp/>stanza<sp/>beginning<sp/>with<sp/>&apos;-&apos;<sp/>is<sp/>a<sp/>component</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal">Components:</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>-<sp/>name<sp/><sp/><sp/><sp/><sp/><sp/><sp/>:<sp/>dark<sp/>halo</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{nlevel:<sp/>1,<sp/>indexing:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">,<sp/>EJ:<sp/>2,</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>nEJkeep:<sp/>256,<sp/>EJdryrun:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">}</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>bodyfile<sp/><sp/><sp/>:<sp/>halo.bod</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>force<sp/>:</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/>id<sp/>:<sp/>sphereSL</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{rmax<sp/>:<sp/>27.5}</highlight></codeline>
<codeline><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>-<sp/>name<sp/><sp/><sp/><sp/><sp/><sp/><sp/>:<sp/>star<sp/>disk</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{nlevel:<sp/>1,<sp/>indexing:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">,<sp/>EJ:<sp/>2,</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>nEJkeep:<sp/>256,<sp/>EJdryrun:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">}</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>bodyfile<sp/><sp/><sp/>:<sp/>disk.bod</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>force<sp/>:</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/>id<sp/>:<sp/>cylinder</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{acyl:<sp/>1.0,<sp/>nmax:<sp/>32,<sp/>mmax:<sp/>2,</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>hcyl:<sp/>0.05,<sp/>ncylorder:<sp/>24,</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>pca:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">,<sp/>hallfreq:<sp/>10,</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>pcavtk:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">}</highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>The<sp/>parameters<sp/>could<sp/>be<sp/>expressed<sp/>like<sp/>this,</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>equivalently:</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/>parameters<sp/>:</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>acyl<sp/>:<sp/>1.0</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>nmax<sp/>:<sp/>32</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>mmax<sp/>:<sp/>2</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>hcyl<sp/>:<sp/>0.05</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>pca<sp/><sp/>:<sp/>true</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>ncylorder<sp/>:<sp/>24</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>hallfreq<sp/>:<sp/>10</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/><sp/>pcavtk<sp/>:<sp/>true</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>This<sp/>is<sp/>a<sp/>sequence<sp/>of<sp/>outputs</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"><ref refid="class_output" kindref="compound">Output</ref>:</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>-<sp/>id<sp/>:<sp/>outlog</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{nint<sp/>:<sp/>10}</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>-<sp/>id<sp/>:<sp/>outps</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{nint<sp/>:<sp/>5}</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>-<sp/>id<sp/>:<sp/>outpsp</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/>parameters<sp/>:<sp/>{nint<sp/>:<sp/>1,<sp/>timer<sp/>:<sp/></highlight><highlight class="keyword">true</highlight><highlight class="normal">}</highlight></codeline>
<codeline><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>This<sp/>is<sp/>a<sp/>sequence<sp/>of<sp/>external<sp/>forces</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>This<sp/>can<sp/>be<sp/>empty<sp/>(or<sp/>missing)</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal">External:</highlight></codeline>
<codeline><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>Currently<sp/>empty</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>List<sp/>of<sp/>interations<sp/>as<sp/>name1<sp/>:<sp/>name2<sp/>map<sp/>entries</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>This<sp/>can<sp/>be<sp/>empty<sp/>(or<sp/>missing)</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"></highlight><highlight class="preprocessor">#<sp/>------------------------------------------------------</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"><ref refid="class_interaction" kindref="compound">Interaction</ref>:</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>dark<sp/>halo<sp/>:<sp/>star<sp/>disk</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/>star<sp/>disk<sp/>:<sp/>dark<sp/>halo</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/></highlight></codeline>
<codeline><highlight class="normal">...</highlight></codeline>
</programlisting> </para>
    </detaileddescription>
    <location file="config.doc"/>
  </compounddef>
</doxygen>
